@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@keyframes growFind {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1.3, 1.3, 1.3);
  }
}

* {
  font-family: 'Open Sans', sans-serif;
}

.box {
  position: relative;
}

.found {
  padding: 5px;
  margin-top: 10px;
  font-size: 20px;
  color: #137c41;
}
.not-found {
  padding: 5px;
  margin-top: 10px;
  font-size: 20px;
  color: #b61717;
}
.textmessage {
  color: black;
  font-size: 20px;
  font-family: frontage outline;
  margin-top: 35px;
}
.title {
  color: white;
  font-size: 20px;
  font-family: frontage outline;
}

.row {
  margin-top: 10px;
}

.growFind {
  transition: ease-in 500ms;
}
