@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
.Rboard {
  position: relative;
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
  width: 500px;
  margin-left: 80px;
}

.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
}

.Rbox {
  display: grid;
  grid-gap: 0 0;
  grid-template-rows: repeat(var(--Rgrid-rows), 1fr);
  grid-template-columns: repeat(var(--Rgrid-cols), 1fr);
  box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Rgrid-item {
  cursor: pointer;
  text-align: center;
}

@keyframes highlightPath {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.highlightPath {
  animation: highlightPath 100ms;
  animation-timing-function: ease-in-out;
  transition: 100ms all;
}

.but {
  align-items: center;
  margin-top: 200px;
  margin-left: 38%;
  position: absolute;
}
