.empty {
  width: 150px;
  height: 80px;
}
.label span {
  margin-left: 5px;
  font-family: monospace;
}
.labelNode1 {
  color: black;
  text-size-adjust: 100px;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label > div {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.pre {
  background: #ffd700c4;
}

.current {
  background: #37a737;
}
.post {
  background: #d42929;
}
.buttonWrapper button {
  border: none;
  cursor: pointer;
  width: 90px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  font-family: monospace;
  background: #5c79ce;
  color: white;
  border-radius: 10px;
}
.buttonWrapper button:hover {
  background: saddlebrown;
  transition: ease-in 0.1s;
}
.buttonWrapper button:disabled {
  background: lightgrey;
}
.labelRow {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  animation: labelAnimation 0.5s;
}
.buttonWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.procedure {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-top: 20px;
}
.procedure code {
  background: darkolivegreen;
  width: 410px;
  padding-bottom: 10px;
  color: white;
  border-radius: 10px;
}
.tab {
  position: relative;
  display: block;
  left: 20px;
}
.userInput {
  display: flex;
  justify-content: center;
}
.userInput input {
  border: 1px solid black;
  padding-left: 5px;
  height: 35px;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
.userInput input::placeholder {
  font-size: 12px;
}
.userInput button {
  margin-left: 10px;
  cursor: pointer;
  font-family: monospace;
  width: 80px;
  background: firebrick;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.linkedList {
  display: flex;
  margin-top: 20px;
}
.codeAnimate {
  animation: codeAnimation 2s infinite;
  width: 340px;
}
@keyframes codeAnimation {
  from {
    border: 1px dotted black;
    border-radius: 10px;
  }
  to {
    border: 2px dotted white;
    border-radius: 20px;
  }
}
@keyframes labelAnimation {
  from {
    position: relative;
    top: -50px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0px;
    opacity: 100;
  }
}
